<table>
  <thead>
    <tr style="background-color: black; color: white">
      <td width="80px">name</td>
      <td width="80px">lastName</td>
      <td width="80px">location</td>
      <td width="80px"></td>
      <td width="80px"></td>
    </tr>
  </thead>

  <tr *ngFor="let userie of users" style="background-color: white; color: black">
    <td width="80px">{{userie.name}} </td>
    <td width="80px">{{userie.lastName}}</td>
    <td width="80px">{{userie.xCoordinate}} </td>
    <td width="80px">{{userie.yCoordinate}} </td>
    <td width="80px">
      <form method="post" action="/user/{{user.id}}/find">
        <button type="submit">Go to</button>
      </form>
    </td>
  </tr>

</table>


<p>Name:</p>
<input [(ngModel)] = "user.name" />
<p>Last Name:</p>
<input [(ngModel)] = "user.lastName"/>
<p>Location(x,y):</p>
<input [(ngModel)] = "user.xCoordinate"/>
<input [(ngModel)] = "user.yCoordinate"/>
<br />
<button type="submit" (click) = "addUser()">
  Versturen
</button>
<button type="submit">
  Events
</button>